{% extends 'content_base.html.twig' %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">#}
{% endblock %}

{% block content_body %}


{#{% include 'modal.html.twig' %}#}

        <h2>Welkom {{ user.firstname }} {{ user.name }}! </h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><p>Email: {{ user.email }}</p></li>
        <li class="list-group-item">Taal: {{ user.language }}</li>
        <li class="list-group-item">Getekende overeenkomst: {{ user.signedagreement }}</li>
    </ul>

    <p><a href="{{ path('login') }}">Ga Terug</a></p>


{% endblock %}


